<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="height=480px,width=640px user-scalable=yes">  
    <title>Effevee's Rover</title>
    <script type="text/javascript" src="/webiopi.js"></script>
    <script type="text/javascript" src="/effevees_rover.js"></script>
    <link rel="stylesheet" type="text/css" href="/effevees_rover.css">
</head>

<body>
<div id="controls">
    <img src="http://raspirover.local:8080/stream/video.mjpeg" width="640" height="480">
    <input type="text" id="snelheid"></br>
    <input type="text" id="afstandvoor"></br>
    <input type="text" id="afstandachter"></br>
</div>
</body>
</html>
